<div>
	<div id="background_3"></div>
<div class="reg_table">
	
	<%= form_for @person do |f| %>
		<table id="table_reg" class="text_style_table">
			<tr>
				<td><p><%= f.label "Name" %></p></td>
				<td><%= f.text_field :name, :placeholder=>"Enter your name" %></td>
			</tr>
			<tr>
				<td><p><%= f.label "Surname" %></p></td>
				<td><%= f.text_field :surname, :placeholder=>"Enter your surname" %></td>
			</tr>
			<tr>
				<td><p><%= f.label "Nick" %></p></td>
				<td><%= f.text_field :nickname, :placeholder=>"Enter your nick-name" %></td>
			</tr>
			<tr>
				<td><p><%= f.label "Email" %></p></td>
				<td><%= f.text_field :email, :placeholder=>"Enter your e-mail" %></td>
			</tr>
			<tr>
				<td><p><%= f.label "Password" %></p></td>
				<td><%= f.password_field :password, :placeholder=>"Enter your password" %></td>
			</tr>
			<tr>
				<td> <p> Confirm password </p></td>
				<td><input type="password" name="Conf_pass"></input></td>
			</tr>
			<tr>
				<td><input type="checkbox"; name="flag_1"><label>   License agreement </label></input> </td>
				
			</tr>
		</table>
		<%= f.submit  :class => :button_registration  %>
	<% end %>
</div>
</div>

