<div>
	<div id="background_3"></div>
<div class="reg_table">
	
	<%= form_for @person do |f| %>
		<table id="table_reg" class="text_style_table">
			<tr>
				<td><p><%= f.label "Name" %></p></td>
				<td><%= f.text_field :name, :placeholder=>"Enter your name" %></td>
			</tr>
			<tr>
				<td><p><%= f.label "Surname" %></p></td>
				<td><%= f.text_field :surname, :placeholder=>"Enter your surname" %></td>
			</tr>
			<tr>
				<td><p><%= f.label "Nick" %></p></td>
				<td><%= f.text_field :nickname, :placeholder=>"Enter your nick-name" %></td>
			</tr>
			<tr>
				<td><p><%= f.label "Email" %></p></td>
				<td><%= f.text_field :email, :placeholder=>"Enter your e-mail" %></td>
			</tr>
			<tr>
				<td><p><%= f.label "Password" %></p></td>
				<td><%= f.password_field :password, :placeholder=>"Enter your password" %></td>
			</tr>
			<tr>
				<td> <p> Confirm password </p></td>
				<td><%= f.password_field :password_confirm %></td>
			
			</tr>
			<tr>
				<td><input type="checkbox"; name="flag_1"><label>
					<a onClick="document.getElementById('open_block').style.display='block';return false;" title=""> License agreement </a>

<div id="open_block">
	
		
		
			
					<p class="pop_up" id="title_agree"><b>License</b></p>
						<p class="pop_up"><span id="first_letter">T</span>his product may allow you to extend its functionality by accessing certain features that are 
						hosted online (“online services”), provided you have a high-speed Internet connection. The online 
						services, and some features thereof, may not be available in all countries, languages, and/or 
						currencies and may be discontinued in whole or in part without notice.  Use of the online services 
						is governed by separate terms of use and by the Adobe Online Privacy Policy, and access to 
						these services may require user registration. Some online services may be subject to additional 
						fees, including services that are initially offered at no charge. For more details and to review the 
						terms of use and Online Privacy Policy, visit www.adobe.com.
						IntenseDebate email notifications alert you and your readers of new comments, encouraging return visits 
						and additional commenting. You can reply to and moderate comments via email, while threading makes it easy
						to follow the conversation.</p>
						<a 
						onClick="document.getElementById('open_block').style.display='none';return false;" 
						title="" 
						id="close">
						<p> Close </p>
					</a>
				
			
					
			
		
		
</div></label></input> </td>
				
			</tr>
		</table>
		<%= f.submit  :class => :button_registration  %>
	<% end %>

</div>
</div>

<div>
	
</div>

